<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script>
    var roomName = "{{ room }}"; // Pass room name to JavaScript
  </script>
  <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>

  <h2>{{ room }} - ChatRoom</h2>

  <div id="display">
    <!-- Chat messages will be dynamically inserted here by JavaScript -->
  </div>

  <div class="container">
    <form id="post-form" method="POST" action="{% url 'send' %}">
      {% csrf_token %}
      <input type="hidden" name="username" id="username" value="{{ username }}"/>
      <input type="hidden" name="room_id" id="room_id" value="{{ room_details.id }}"/>
      <input type="text" name="message" id="message" width="100px" />
      <input type="submit" value="Send">
    </form>
  </div>

</body>
</html>
